div#areaInput {
    width: 80%;
    height: 40px;

    background-color: white;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#areaInput, input#input {
    border-radius: 5px;
}

input#input {
    border: none;

    width: 90%;
    height: 40px;
    outline: none;
    box-shadow: none;
}

input#input::placeholder {
    color: aqua;

    opacity: 0.5;
}